/* footer And Nav Style */
.fotr h5 {
    color: #144e90;
  }
  .nav-link:hover {
    color: #144e90;
    font-weight: bold;
  }
  .footer-hover:hover {
    color: #144e90 !important;
  }
  .header .nav-item .nav-link {
    margin-left: 40px;
  }
  .nav-link:hover {
      color: #144e90
       !important; 
  
  }
  
.btn-primary{
  background: #144e90;
}
.btn-primary:hover{
  background: #144e90;
font-weight: bold;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}
.form-inline {
  margin-right: 5%;
  width: 15%;
  justify-content: flex-end;
}
.form-inline > button {
  background-color: #213a66;
  color: white;
}

.form-inline > a {
  color: #213a66;
  font-weight: bold;
}

a {
  color: #213a66;
}

.bg-image {
  display: flex;
  flex-direction: column;
  background-image: url("/dental-care/images/recep4.png");
  background-size: cover;
  height: 75vh;
  background-color: rgba(153, 143, 143, 0.6);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.background {
  background-color: #f4fafc;
  padding-left: 4%;
  padding-bottom: 2%;
  margin-top: 4%;
  padding-top: 1%;
  border: 1px #213a66 solid;
}
.txt1 {
  width: 40%;
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.txt2 {
  background-color: #213a66;
  color: white;
  width: 30%;
  margin-right: 50%;
  margin-top: 3%;
  padding: 1%;
}

.welcom {
  color: #213a66;
}

.form-select-lg {
  width: 90%;
  padding: 0.8rem;
  color: gray;
  background-color: white;
}
.col-12 input {
  width: 95%;
  background-color: #f4fafc;
  border: 1px gray solid;
  padding: 0.8rem;
  color: gray;
}
.col-6 input {
  width: 90%;
  padding: 0.8rem;
  border: 1px gray solid;
  background-color: white;
  color: black;
}
.col-12 textarea {
  width: 95%;
  color: black;
  background-color: white;
}
.col-12 button {
  background-color: #213a66;
  float: right;
  margin-right: 5%;
}
.hint {
  color: #213a66;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.col-12 button:hover {
  background-color: #213a66;
}
.info {
  background-color: #b8cde9;
  margin-top: 2%;
}

main {
}

.marg-footer {
  margin-left: 5%;
  margin-right: 5%;
}
.phonefooter {
  text-align: right;
}
li {
  list-style: none;
}
.icon {
  font-size: 2rem;
}
.map1 {
  width: 100%;
}
