/* footer And Nav Style */
.fotr h5 {
  color: #144e90;
}
.nav-link:hover {
  color: #144e90;
  font-weight: bold;
}
.footer-hover:hover {
  color: #144e90 !important;
}
.header .nav-item .nav-link {
  margin-left: 40px;
}
.nav-link:hover {
    color: #144e90
     !important; 

}